beautifulsoup4==4.11.2
bs4==0.0.1
Flask==2.3.2
Flask-Cors==4.0.0
gunicorn==20.1.0
jax==0.4.8
Jinja2==3.1.2
Pillow==9.4.0
sentence-transformers==2.2.2
torch==2.0.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tqdm==4.65.0
transformers==4.31.0
